@model SubtitleOutputModel
@{
    ViewBag.Title = "Details";
}

<h2>Subtitle Details</h2>

@if (Model.IsFinished)
{
    <h2>Is Finished is a work in progress</h2>
}

@if (!Model.IsFinished)
{
    
}

