@using SubtitleCommunitySystem.Web.ViewModels
@model IEnumerable<SubtitleGridViewModel>



@(Html.Kendo()
            .Grid<SubtitleGridViewModel>(Model)
            .Name("grid")
            .Columns(cols =>
            {
                cols.Bound(pr => pr.Id).Hidden();                
                cols.Bound(pr => pr.Name)
                    .ClientTemplate("<a href='/Home/SubtitleDetails/#= Id #' >#: Name #</a>");
                cols.Bound(pr => pr.Language)
                    .ClientTemplate("<a href='/Home/SubtitleDetails/#= Id #' >#: Language #</a>");
                cols.Bound(pr => pr.Team);               
            })
            .Pageable()
            .DataSource(data => 
                data.Ajax()
                .ServerOperation(false)
                )
            )
