@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />
<div class="jumbotron">
    <h3>
        Ilian Trifonov
    </h3>
    <hr />
    <h4>
        GitHub: <a href="https://github.com/iliantrifonov">https://github.com/iliantrifonov</a>
    </h4>
    <h4>
        Telerik Academy: <a href="http://telerikacademy.com/Users/iliantrifonov">Profile</a>
    </h4>
    <h4>
        <a href="https://code.google.com/p/telerik-stuff/">Google Code</a>
    </h4>
</div>