@using SubtitleCommunitySystem.Web.ViewModels

@model IEnumerable<MovieListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <img src="/ResourceFiles/banner.jpg" style="width:100%" />
</div>

<br />
<h2 class="text-info text-center">
    Welcome to Subtitle World! We hope you enjoy your stay with us  <span class="glyphicon glyphicon-ok-sign"></span>
</h2>
<br />
<br />
<script type="text/x-kendo-tmpl" id="template">
    <a href="/Home/MovieDetails/#= Id #">
        <div class="pull-left col-md-offset-2" style="padding:30px 0;">
            <div class="row text-center">
                <img src='#:MainPosterUrl#' alt='#:Name#' style='max-width:150px;height:250px;' />
                <div><strong>#:Name#</strong></div>
            </div>
        </div>
    </a>
</script>



@(Html.Kendo().ListView<MovieListViewModel>()
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource =>
    {
        dataSource.Read(read => read.Action("Read", "Home"));
        dataSource.PageSize(6);
    })
    .Pageable())
