@model SubtitleCommunitySystem.Web.Areas.Teams.Models.TeamDetailedOutputModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


@Html.DisplayFor(m => Model, Model)

<div class="row">
    <div class="btn-group btn-group-justified">
        @Html.ActionLink("Team Chat(Check if the person is in the team!!)", "Index", "Chat", new { id = Model.ChatChannelId }, new { @class = "btn btn-info" })
        @Html.ActionLink("Team Subtitles", "TeamSubtitles", "Subtitles", new { id = Model.Id }, new { @class = "btn btn-info" })
        
        <a href="#" class="btn btn-info">All Subtitles(NA)</a>
    </div>
</div>


