@model SubtitleCommunitySystem.Web.Areas.Teams.Models.TeamDetailedOutputModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


@Html.DisplayFor(m => Model, Model)

<div class="row">
    <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-info">Team Chat(Check if the person is in the team!!)</a>
        <a href="#" class="btn btn-info">Team Subtitles(NA)</a>
        <a href="#" class="btn btn-info">All Subtitles(NA)</a>
    </div>
</div>


