@model SubtitleCommunitySystem.Web.Areas.Teams.Models.TeamDetailedOutputModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


@Html.DisplayFor(m => Model, Model)

<div class="row">
    <div class="btn-group btn-group-justified">
        @Html.ActionLink("Team Chat", "Index", "Chat", new { id = Model.Id }, new { @class = "btn btn-info" })
        @Html.ActionLink("Team Subtitles", "TeamSubtitles", "Subtitles", new { id = Model.Id }, new { @class = "btn btn-info" })
        
        @Html.ActionLink("Take New Subtitles", "Index", "Subtitles", new { id = Model.Id }, new { @class = "btn btn-info" })
    </div>
</div>


