USE [master]
GO
/****** Object:  Database [SubtitleCommunitySystem.Web]    Script Date: 11/18/2014 16:45:08 ******/
CREATE DATABASE [SubtitleCommunitySystem.Web]
 CONTAINMENT = NONE

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SubtitleCommunitySystem.Web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SubtitleCommunitySystem.Web]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Channels]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Channels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DbFiles]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DbFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [varbinary](max) NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.DbFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LanguageApplicationUsers]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageApplicationUsers](
	[Language_Id] [int] NOT NULL,
	[ApplicationUser_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.LanguageApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Language_Id] ASC,
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Languages]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Languages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[DateSent] [datetime] NOT NULL,
	[Channel_Id] [int] NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movies]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Description] [nvarchar](3000) NULL,
	[Directory] [nvarchar](500) NULL,
	[BannerUrl] [nvarchar](500) NULL,
	[MainPosterUrl] [nvarchar](500) NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[InitialSource_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PromotionRequests]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[RequestState] [int] NOT NULL,
	[User_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.PromotionRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subtitles]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtitles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[IsFinished] [bit] NOT NULL,
	[State] [int] NOT NULL,
	[FinalFile_Id] [int] NULL,
	[Language_Id] [int] NULL,
	[Movie_Id] [int] NULL,
	[PartialFile_Id] [int] NULL,
	[Team_Id] [int] NULL,
	[DateCompleted] [datetime] NULL,
 CONSTRAINT [PK_dbo.Subtitles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubtitleTasks]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubtitleTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[PercentDone] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[IsFinished] [bit] NOT NULL,
	[Type] [int] NOT NULL,
	[FinishedPartFile_Id] [int] NULL,
	[UserId] [nvarchar](128) NULL,
	[SubtitleId] [int] NULL,
 CONSTRAINT [PK_dbo.SubtitleTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeamApplicationUsers]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamApplicationUsers](
	[ApplicationUser_Id] [nvarchar](128) NOT NULL,
	[Team_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TeamApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Team_Id] ASC,
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeamRoleApplicationUsers]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamRoleApplicationUsers](
	[TeamRole_Id] [int] NOT NULL,
	[ApplicationUser_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.TeamRoleApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[TeamRole_Id] ASC,
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TeamRoles]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.TeamRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 11/18/2014 16:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ChatChannel_Id] [int] NULL,
	[Language_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'49c2739e-68f2-4b92-8784-48f074279bea', N'Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'88642435-ca03-4278-ad53-6b6976fe58f7', N'49c2739e-68f2-4b92-8784-48f074279bea')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'030293df-80c3-4927-94be-ab55cb8bf401', N'aaa@aaa.com', 0, N'APP0z4wlDpTM56t0BGBPy50sLqTQlxKZuS2CRpgPQMgcEODqAKDXJsDWmANlQAIg3A==', N'3b2a0e54-c7c3-4d35-9b40-31ecd3e7dfae', NULL, 0, 0, NULL, 1, 0, N'aaa@aaa.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'09f4c0fe-a8f5-48ff-9cef-56857e0268f0', N'hogger@gmail.com', 0, N'ADfzBuAVP2wQWI/X6/WsTZoIx5JNhu/0+ngRc8a7JVpHt+x0dpc3BtRV7dEfzbrn9Q==', N'b81caab8-6b10-4da6-b851-25f3ee224d62', NULL, 0, 0, NULL, 1, 0, N'hogger@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0f548e5e-643b-45ad-8817-2716d14ed5bd', N'noes@noes.com', 0, N'ACLSo66XjgZ/ys6yIwAu6m4N+xnOxWjd5+i0slygHoWTGf4G2W3gxIZ5GZGsm9WI7A==', N'3cd1543a-5d55-4aab-a18e-331cef6b4d3a', NULL, 0, 0, NULL, 1, 0, N'noes@noes.com')
SET IDENTITY_INSERT [dbo].[Channels] ON 

INSERT [dbo].[Channels] ([Id], [Name]) VALUES (1, N'Some team name')
INSERT [dbo].[Channels] ([Id], [Name]) VALUES (2, N'Sss')
INSERT [dbo].[Channels] ([Id], [Name]) VALUES (3, N'No parlo espanol?')
SET IDENTITY_INSERT [dbo].[Channels] OFF
SET IDENTITY_INSERT [dbo].[DbFiles] ON 

INSERT [dbo].[DbFiles] ([Id], [Content], [FileName], [ContentType]) VALUES (1, 0x7374756666, N'initialSubtitleSource.sub', N'application/octet-stream')
INSERT [dbo].[DbFiles] ([Id], [Content], [FileName], [ContentType]) VALUES (3, 0x7374756666, N'initialSubtitleSource.sub', N'application/octet-stream')
INSERT [dbo].[DbFiles] ([Id], [Content], [FileName], [ContentType]) VALUES (4, 0x7374756666, N'initialSubtitleSource.sub', N'application/octet-stream')
SET IDENTITY_INSERT [dbo].[DbFiles] OFF
INSERT [dbo].[LanguageApplicationUsers] ([Language_Id], [ApplicationUser_Id]) VALUES (1, N'09f4c0fe-a8f5-48ff-9cef-56857e0268f0')
INSERT [dbo].[LanguageApplicationUsers] ([Language_Id], [ApplicationUser_Id]) VALUES (3, N'09f4c0fe-a8f5-48ff-9cef-56857e0268f0')
INSERT [dbo].[LanguageApplicationUsers] ([Language_Id], [ApplicationUser_Id]) VALUES (5, N'09f4c0fe-a8f5-48ff-9cef-56857e0268f0')
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [Name]) VALUES (1, N'English')
INSERT [dbo].[Languages] ([Id], [Name]) VALUES (2, N'Italian')
INSERT [dbo].[Languages] ([Id], [Name]) VALUES (3, N'Bulgarian')
SET IDENTITY_INSERT [dbo].[Languages] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [Content], [DateSent], [Channel_Id], [UserId]) VALUES (1, N'message', CAST(N'2014-11-18 12:28:51.257' AS DateTime), 1, N'88642435-ca03-4278-ad53-6b6976fe58f7')
INSERT [dbo].[Messages] ([Id], [Content], [DateSent], [Channel_Id], [UserId]) VALUES (2, N'message', CAST(N'2014-11-18 12:28:54.553' AS DateTime), 1, N'88642435-ca03-4278-ad53-6b6976fe58f7')
INSERT [dbo].[Messages] ([Id], [Content], [DateSent], [Channel_Id], [UserId]) VALUES (3, N'message', CAST(N'2014-11-18 12:28:55.380' AS DateTime), 1, N'88642435-ca03-4278-ad53-6b6976fe58f7')
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Name], [Description], [Directory], [BannerUrl], [MainPosterUrl], [ReleaseDate], [InitialSource_Id]) VALUES (1, N'Alice in Wonderland', N'Actual info', N'~/Files/Alice in Wonderlan', N'/Files/Alice in Wonderlan/banner.jpg', N'/Files/Alice in Wonderlan/poster.jpg', CAST(N'2006-11-27 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Movies] ([Id], [Name], [Description], [Directory], [BannerUrl], [MainPosterUrl], [ReleaseDate], [InitialSource_Id]) VALUES (2, N'Avatar', N'sss', N'~/Files/Avatar.0', N'/Files/Avatar.0/banner.jpg', N'/Files/Avatar.0/poster.jpg', CAST(N'2014-11-20 00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Movies] ([Id], [Name], [Description], [Directory], [BannerUrl], [MainPosterUrl], [ReleaseDate], [InitialSource_Id]) VALUES (3, N'Looper', N'Loopy', N'~/Files/Looper', N'/Files/Looper/banner.jpg', N'/Files/Looper/poster.jpg', CAST(N'2007-11-22 00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[PromotionRequests] ON 

INSERT [dbo].[PromotionRequests] ([Id], [Content], [DateCreated], [Type], [RequestState], [User_Id]) VALUES (1, N'Your message here..', CAST(N'2014-11-09 19:05:06.287' AS DateTime), 0, 2, N'88642435-ca03-4278-ad53-6b6976fe58f7')
INSERT [dbo].[PromotionRequests] ([Id], [Content], [DateCreated], [Type], [RequestState], [User_Id]) VALUES (2, N'Your message here..', CAST(N'2014-11-10 23:03:19.823' AS DateTime), 0, 2, N'88642435-ca03-4278-ad53-6b6976fe58f7')
INSERT [dbo].[PromotionRequests] ([Id], [Content], [DateCreated], [Type], [RequestState], [User_Id]) VALUES (3, N'Your message here..', CAST(N'2014-11-10 23:03:24.650' AS DateTime), 1, 2, N'88642435-ca03-4278-ad53-6b6976fe58f7')
SET IDENTITY_INSERT [dbo].[PromotionRequests] OFF
SET IDENTITY_INSERT [dbo].[Subtitles] ON 

INSERT [dbo].[Subtitles] ([Id], [Name], [Description], [ThumbnailUrl], [IsFinished], [State], [FinalFile_Id], [Language_Id], [Movie_Id], [PartialFile_Id], [Team_Id], [DateCompleted]) VALUES (1, N'Alice nelle Paese delle meraviglie', N'ssszz', NULL, 1, 0, 8, 1, 1, 7, 1, CAST(N'2014-11-18 14:02:07.053' AS DateTime))
INSERT [dbo].[Subtitles] ([Id], [Name], [Description], [ThumbnailUrl], [IsFinished], [State], [FinalFile_Id], [Language_Id], [Movie_Id], [PartialFile_Id], [Team_Id], [DateCompleted]) VALUES (2, N'Alice in Wonderlan', N'...', NULL, 0, 0, NULL, 2, 1, NULL, 5, NULL)
INSERT [dbo].[Subtitles] ([Id], [Name], [Description], [ThumbnailUrl], [IsFinished], [State], [FinalFile_Id], [Language_Id], [Movie_Id], [PartialFile_Id], [Team_Id], [DateCompleted]) VALUES (3, N'Алис в Страната на Чудесата', N'Нещоо...', NULL, 1, 0, 37, 3, 1, 38, 2, CAST(N'2014-11-18 16:30:41.147' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Subtitles] OFF
SET IDENTITY_INSERT [dbo].[SubtitleTasks] ON 

INSERT [dbo].[SubtitleTasks] ([Id], [Description], [PercentDone], [DateCreated], [DueDate], [IsFinished], [Type], [FinishedPartFile_Id], [UserId], [SubtitleId]) VALUES (12, N'adsadaa', 96, CAST(N'2014-11-14 18:42:25.000' AS DateTime), CAST(N'2014-11-25 18:42:25.000' AS DateTime), 1, 3, 10, N'88642435-ca03-4278-ad53-6b6976fe58f7', 1)
INSERT [dbo].[SubtitleTasks] ([Id], [Description], [PercentDone], [DateCreated], [DueDate], [IsFinished], [Type], [FinishedPartFile_Id], [UserId], [SubtitleId]) VALUES (13, N'TestCreate', 25, CAST(N'2014-11-14 20:09:50.000' AS DateTime), CAST(N'2014-11-26 20:09:33.000' AS DateTime), 1, 1, 12, N'88642435-ca03-4278-ad53-6b6976fe58f7', 1)
INSERT [dbo].[SubtitleTasks] ([Id], [Description], [PercentDone], [DateCreated], [DueDate], [IsFinished], [Type], [FinishedPartFile_Id], [UserId], [SubtitleId]) VALUES (23, NULL, 0, CAST(N'2014-11-14 21:00:08.000' AS DateTime), CAST(N'2014-11-14 21:00:01.000' AS DateTime), 1, 0, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SubtitleTasks] OFF
INSERT [dbo].[TeamApplicationUsers] ([ApplicationUser_Id], [Team_Id]) VALUES (N'0f548e5e-643b-45ad-8817-2716d14ed5bd', 1)
INSERT [dbo].[TeamApplicationUsers] ([ApplicationUser_Id], [Team_Id]) VALUES (N'197e8108-e3b9-4186-a536-29dd53efa20a', 1)
INSERT [dbo].[TeamApplicationUsers] ([ApplicationUser_Id], [Team_Id]) VALUES (N'7006d4f2-b6a2-40c9-89a2-bf56ca6de4f0', 1)
INSERT [dbo].[TeamRoleApplicationUsers] ([TeamRole_Id], [ApplicationUser_Id]) VALUES (3, N'030293df-80c3-4927-94be-ab55cb8bf401')
INSERT [dbo].[TeamRoleApplicationUsers] ([TeamRole_Id], [ApplicationUser_Id]) VALUES (6, N'030293df-80c3-4927-94be-ab55cb8bf401')
INSERT [dbo].[TeamRoleApplicationUsers] ([TeamRole_Id], [ApplicationUser_Id]) VALUES (7, N'030293df-80c3-4927-94be-ab55cb8bf401')
SET IDENTITY_INSERT [dbo].[TeamRoles] ON 

INSERT [dbo].[TeamRoles] ([Id], [Name]) VALUES (1, N'Moderator')
INSERT [dbo].[TeamRoles] ([Id], [Name]) VALUES (2, N'Writer')
INSERT [dbo].[TeamRoles] ([Id], [Name]) VALUES (3, N'Translator')
SET IDENTITY_INSERT [dbo].[TeamRoles] OFF
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Id], [Name], [ChatChannel_Id], [Language_Id]) VALUES (1, N'Chatty Englisher', 1, 1)
INSERT [dbo].[Teams] ([Id], [Name], [ChatChannel_Id], [Language_Id]) VALUES (2, N'Bugaro', 2, 3)
INSERT [dbo].[Teams] ([Id], [Name], [ChatChannel_Id], [Language_Id]) VALUES (3, N'Non parlo espanol?', 3, 5)
SET IDENTITY_INSERT [dbo].[Teams] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/18/2014 16:45:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/18/2014 16:45:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[LanguageApplicationUsers]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Language_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_Language_Id] ON [dbo].[LanguageApplicationUsers]
(
	[Language_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Channel_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_Channel_Id] ON [dbo].[Messages]
(
	[Channel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Messages]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InitialSource_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_InitialSource_Id] ON [dbo].[Movies]
(
	[InitialSource_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[PromotionRequests]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FinalFile_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_FinalFile_Id] ON [dbo].[Subtitles]
(
	[FinalFile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Language_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_Language_Id] ON [dbo].[Subtitles]
(
	[Language_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movie_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_Movie_Id] ON [dbo].[Subtitles]
(
	[Movie_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PartialFile_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_PartialFile_Id] ON [dbo].[Subtitles]
(
	[PartialFile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Team_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_Team_Id] ON [dbo].[Subtitles]
(
	[Team_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FinishedPartFile_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_FinishedPartFile_Id] ON [dbo].[SubtitleTasks]
(
	[FinishedPartFile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubtitleId]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_SubtitleId] ON [dbo].[SubtitleTasks]
(
	[SubtitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SubtitleTasks]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[TeamApplicationUsers]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Team_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_Team_Id] ON [dbo].[TeamApplicationUsers]
(
	[Team_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[TeamRoleApplicationUsers]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeamRole_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_TeamRole_Id] ON [dbo].[TeamRoleApplicationUsers]
(
	[TeamRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatChannel_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_ChatChannel_Id] ON [dbo].[Teams]
(
	[ChatChannel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Language_Id]    Script Date: 11/18/2014 16:45:09 ******/
CREATE NONCLUSTERED INDEX [IX_Language_Id] ON [dbo].[Teams]
(
	[Language_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Name]    Script Date: 11/18/2014 16:45:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Name] ON [dbo].[Teams]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LanguageApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LanguageApplicationUsers_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LanguageApplicationUsers] CHECK CONSTRAINT [FK_dbo.LanguageApplicationUsers_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[LanguageApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LanguageApplicationUsers_dbo.Languages_Language_Id] FOREIGN KEY([Language_Id])
REFERENCES [dbo].[Languages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LanguageApplicationUsers] CHECK CONSTRAINT [FK_dbo.LanguageApplicationUsers_dbo.Languages_Language_Id]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Channels_Channel_Id] FOREIGN KEY([Channel_Id])
REFERENCES [dbo].[Channels] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Channels_Channel_Id]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movies_dbo.DbFiles_InitialSource_Id] FOREIGN KEY([InitialSource_Id])
REFERENCES [dbo].[DbFiles] ([Id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_dbo.Movies_dbo.DbFiles_InitialSource_Id]
GO
ALTER TABLE [dbo].[PromotionRequests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PromotionRequests_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PromotionRequests] CHECK CONSTRAINT [FK_dbo.PromotionRequests_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[Subtitles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subtitles_dbo.DbFiles_FinalFile_Id] FOREIGN KEY([FinalFile_Id])
REFERENCES [dbo].[DbFiles] ([Id])
GO
ALTER TABLE [dbo].[Subtitles] CHECK CONSTRAINT [FK_dbo.Subtitles_dbo.DbFiles_FinalFile_Id]
GO
ALTER TABLE [dbo].[Subtitles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subtitles_dbo.DbFiles_PartialFile_Id] FOREIGN KEY([PartialFile_Id])
REFERENCES [dbo].[DbFiles] ([Id])
GO
ALTER TABLE [dbo].[Subtitles] CHECK CONSTRAINT [FK_dbo.Subtitles_dbo.DbFiles_PartialFile_Id]
GO
ALTER TABLE [dbo].[Subtitles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subtitles_dbo.Languages_Language_Id] FOREIGN KEY([Language_Id])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[Subtitles] CHECK CONSTRAINT [FK_dbo.Subtitles_dbo.Languages_Language_Id]
GO
ALTER TABLE [dbo].[Subtitles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subtitles_dbo.Movies_Movie_Id] FOREIGN KEY([Movie_Id])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Subtitles] CHECK CONSTRAINT [FK_dbo.Subtitles_dbo.Movies_Movie_Id]
GO
ALTER TABLE [dbo].[Subtitles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Subtitles_dbo.Teams_Team_Id] FOREIGN KEY([Team_Id])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Subtitles] CHECK CONSTRAINT [FK_dbo.Subtitles_dbo.Teams_Team_Id]
GO
ALTER TABLE [dbo].[SubtitleTasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubtitleTasks_dbo.AspNetUsers_User_Id] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SubtitleTasks] CHECK CONSTRAINT [FK_dbo.SubtitleTasks_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[SubtitleTasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubtitleTasks_dbo.DbFiles_FinishedPartFile_Id] FOREIGN KEY([FinishedPartFile_Id])
REFERENCES [dbo].[DbFiles] ([Id])
GO
ALTER TABLE [dbo].[SubtitleTasks] CHECK CONSTRAINT [FK_dbo.SubtitleTasks_dbo.DbFiles_FinishedPartFile_Id]
GO
ALTER TABLE [dbo].[SubtitleTasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubtitleTasks_dbo.Subtitles_Subtitle_Id] FOREIGN KEY([SubtitleId])
REFERENCES [dbo].[Subtitles] ([Id])
GO
ALTER TABLE [dbo].[SubtitleTasks] CHECK CONSTRAINT [FK_dbo.SubtitleTasks_dbo.Subtitles_Subtitle_Id]
GO
ALTER TABLE [dbo].[TeamApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserTeams_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamApplicationUsers] CHECK CONSTRAINT [FK_dbo.ApplicationUserTeams_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[TeamApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserTeams_dbo.Teams_Team_Id] FOREIGN KEY([Team_Id])
REFERENCES [dbo].[Teams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamApplicationUsers] CHECK CONSTRAINT [FK_dbo.ApplicationUserTeams_dbo.Teams_Team_Id]
GO
ALTER TABLE [dbo].[TeamRoleApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TeamRoleApplicationUsers_dbo.AspNetUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamRoleApplicationUsers] CHECK CONSTRAINT [FK_dbo.TeamRoleApplicationUsers_dbo.AspNetUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[TeamRoleApplicationUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TeamRoleApplicationUsers_dbo.TeamRoles_TeamRole_Id] FOREIGN KEY([TeamRole_Id])
REFERENCES [dbo].[TeamRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TeamRoleApplicationUsers] CHECK CONSTRAINT [FK_dbo.TeamRoleApplicationUsers_dbo.TeamRoles_TeamRole_Id]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teams_dbo.Channels_ChatChannel_Id] FOREIGN KEY([ChatChannel_Id])
REFERENCES [dbo].[Channels] ([Id])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_dbo.Teams_dbo.Channels_ChatChannel_Id]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teams_dbo.Languages_Language_Id] FOREIGN KEY([Language_Id])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_dbo.Teams_dbo.Languages_Language_Id]
GO
USE [master]
GO
