@model SubtitleCommunitySystem.Web.Areas.Private.Models.RequestIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row text-center">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Pending Requests:</h3>
            </div>
            <div class="panel-body">
                @foreach (var request in Model.PendingRequests)
                {
                    Html.RenderPartial("_RequestPartial", request);
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Approved Requests:</h3>
            </div>
            <div class="panel-body">
                @foreach (var request in Model.ApprovedRequests)
                {
                    Html.RenderPartial("_RequestPartial", request);
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Latest Denied Requests:</h3>
            </div>
            <div class="panel-body">
                @foreach (var request in Model.DeniedRequests)
                {
                    Html.RenderPartial("_RequestPartial", request);
                }
            </div>
        </div>
    </div>
</div>







