@model SubtitleCommunitySystem.Web.Areas.Administration.Models.TeamViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    @Html.DisplayForModel("TeamViewModel")
</div>
<p>
    @{ Html.RenderPartial("_DetailsButtonsPartial"); }
</p>
