@model IEnumerable<SubtitleCommunitySystem.Web.Areas.Administration.Models.TeamOutputModel>

@{
    ViewBag.Title = "Index";
}

<div class="row text-center">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</div>
<hr />
<table class="table">
    <tr>
        <th>
            Teams
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item, "TeamOutputModel")
            </td>
            <td>
                @{ Html.RenderPartial("_CrudButtonsPartial", item); }
                @Html.ActionLink("Manage Members", "ManageMembers", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
