@model SubtitleCommunitySystem.Web.Areas.Administration.Models.ManageMembersModel

@{
    ViewBag.Title = "Manage Members";
    ViewBag.Id = Model.Id;
}

<h2>Manage Members</h2>

<div>
    <h4>Team Members</h4>
    <hr />

    @Html.DisplayForModel("ManageMembersModel", Model)

</div>
