@using SubtitleCommunitySystem.Web.Areas.Administration.Models
@model IEnumerable<UserOutputModel>

@{
    ViewBag.Title = "Index";
}

@*<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @{ Html.RenderPartial("_CrudButtonsPartial", item); }
        </td>
    </tr>
}

</table>*@

@(Html.Kendo().Grid<UserOutputModel>(Model)
    .Name("grid")
    .Columns(columns =>
        {
            columns.Bound(c => c.UserName).HtmlAttributes(new { @class = "col-md-3" }).Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
            columns.Template(c => Html.Partial("_CrudButtonsPartial", c));
        })
        .Sortable()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
)