@model SubtitleCommunitySystem.Web.Areas.Administration.Models.TeamOutputModel

<div class="row">
    <div class="col-md-4">
        @Model.Name
    </div>
    <div class="col-md-8">
        @Model.Language
    </div>
</div>
