@using SubtitleCommunitySystem.Web.Areas.Administration.Models
@model IEnumerable<LanguageOutputModel>

@{
    ViewBag.Title = "Index";
}

<div class="row text-center">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</div>
<hr />
<table class="table">
    <tr>
        <th colspan="2" class="text-center">Languages</th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{ Html.RenderPartial("_CrudButtonsPartial", item); }
            </td>
        </tr>
    }

</table>


@(Html.Kendo().Grid<LanguageOutputModel>(Model)
    .Name("grid")
    .Columns(columns =>
        {
            columns.Bound(c => c.Id).Width(140);
            columns.Bound(c => c.Name).Width(190);
        })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Index", "Languages"))
        )

)