@model SubtitleCommunitySystem.Web.Areas.Administration.Models.TeamViewModel

<div class="row">
    <div class="container-fluid">
        <div class="col-md-2">Team ID:</div><div class="col-md-10">@Model.Id</div>
        <div class="col-md-2">Team name:</div><div class="col-md-10">@Model.Name</div>
        <div class="col-md-2">Team Language:</div><div class="col-md-10">@Model.Language.Name</div>
    </div>
</div>

