/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* My Css */

.img-wrapper-banner {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    margin-right: 10px;
}

.img-wrapper-lg {
    width: 100%;
    height: 600px;
    padding: 0 20px;
    margin-right: 10px;
}

.img-wrapper-md {
    width: 100%;
    height: 300px;
    padding: 0 20px;
    margin-right: 10px;
}

.img-dims {
    max-height: 100%;
    max-width:100%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}

.description-wrapper {
    width: 500px;
    padding-top: 15px;
}
