@using SubtitleCommunitySystem.Web.Areas.Private.Models;
@model IEnumerable<TaskOutputModel>

@{
    var ControllerName = "MyTasks";
}

<h1 class="jumbotron">My Tasks</h1>

@(Html.Kendo().Grid<TaskOutputModel>()
            .Name("grid")
            .Columns(cols =>
            {
                cols.Bound(pr => pr.Type);
                cols.Bound(pr => pr.TeamName);
                cols.Bound(pr => pr.MovieName);
                cols.Bound(pr => pr.Language);

                cols.Bound(pr => pr.Id).Hidden();
                cols.Bound(pr => pr.Description);
                cols.Bound(pr => pr.PercentDone)
                    .ClientTemplate(@"<div class='progress progress-striped active'>
                                          <div class='progress-bar progress-bar-info' style='width: #= PercentDone #%'></div>
                                        </div>
                                    <form enctype='multipart/form-data'  action='/Private/MyTasks/UpdatePercent' method='post'>
                                        <input type='hidden' value='#= Id #' name='id' />
                                        <input class='input-xs' type='number' max='100' min='0' name='percent' value='#= PercentDone #' />
                                        <input class='btn btn-xs btn-success' type='submit' value='Update Progress' />
                                    </form>
                                        ");
                cols.Bound(pr => pr.DateCreated).Format("{0:dd/MM/yyyy}").Hidden();
                cols.Bound(pr => pr.DueDate).Format("{0:dd/MM/yyyy}");
                cols.Bound(pr => pr.IsFinished).ClientTemplate(@"
                                            #if(IsFinished){#
                                                <div class='text-center'>Yes</div>
                                            #}else{#
                                                <div class='text-center'>No</div>
                                            #}#
                                            #if(FileId){#
                                                <div class='text-center'><a class='btn btn-success btn-xs' href='/Private/File/DownloadSource/#= FileId #'>Download File</a></div>
                                            #}else{#
                                                <div class='text-center text-danger'>No file uploaded</div>
                                            #}#");
                
                cols.Bound(pr => pr.FileId).ClientTemplate(@"<form enctype='multipart/form-data' class='text-center' action='/Private/MyTasks/Upload' method='post'>
    <input type='hidden' value='#= Id #' name='id' />
    <input type='file' class='btn btn-submit' name='file' />
    <input class='btn btn-xs btn-success' type='submit' value='Upload File' />
</form>").Title("File Status").Hidden();
                cols.Bound(pr => pr.SubtitleId).Hidden();
            })
            .ColumnMenu()
            .Pageable(page => page.Refresh(true))
            .Sortable()
            .Groupable()
            .Filterable()
            .DataSource(data => 
            data.Ajax()
                .Model(m => m.Id(pr => pr.Id))
                .Read(read =>
                        read.Action("ReadTasks", ControllerName)
                )
                ))

<script type="text/kendo-tmpl" id="upload">
    <form enctype='multipart/form-data'  action='/Private/MyTasks/Upload' method='post'>
        <input type='hidden' value='#= Id #' name='id' />
        <input type='number' max='100' min='0' />
        <input class='btn btn-success' type='submit' value='Update Progress' />
    </form>
</script>
