@model SubtitleCommunitySystem.Web.Areas.Teams.Models.TeamIndexOutputModel

<a href="~/Teams/Teams/Details/@Model.Id" class="list-group-item">
    <h4 class="list-group-item-heading">Team "@Model.Name"</h4>
    <p class="list-group-item-text">Language: @Model.Language</p>
</a>
