@model dynamic

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>
