<li>
    @Html.ActionLink("My Requests", "Index", "MyRequests", routeValues: new { Area = "Private" }, htmlAttributes: new { title = "Requests" })
</li>
<li>
    @Html.ActionLink("My Languages", "Index", "MyLanguages", routeValues: new { Area = "Private" }, htmlAttributes: new { title = "Languages" })
</li>