@model SubtitleCommunitySystem.Web.Areas.Administration.Models.LanguageOutputModel

<div class="row well-sm">
    <div class="col-md-2">
        Language name:
    </div>
    <div class="col-md-6">
        @Model.Name
    </div>
</div>
